<meta http-equiv="pragma" content="no-cache" />
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
    </head>
    <body>

    <h2>Stories</h2>

    <table>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Time</th>
      </tr>
      {% for item in list %}
  <tr>
        <th>{{ item[0] }}</th>
          <th>{{ item[1] }}</th>
            <th>{{ item[2] }}</th>
              <th>{{ item[3] }}</th>
            </tr>
      {% endfor %}

    </table>
